{% extends "base_template.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <h1 class="h2 mb-3"><b>Reset</b> Password</h1>

    <div class="row">
        <div class="col-5">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", placeholder="Enter new password") }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control", placeholder="Confirm new password") }}
                    {% for error in form.confirm_password.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.submit(class="btn btn-primary") }}
                </div>

                {% if error %}
                <div class="mt-3">
                    <span style="color: red;">{{ error }}</span>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('auth.scripts') }}"></script>
{% endblock %}
