{% extends "base_template.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Dashboard</h1>

    <!-- Métricas Principales -->
    <div class="row">
        <!-- Total Datasets -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header bg-primary text-white">
                    <h3>Total Datasets</h3>
                </div>
                <div class="card-body">
                    <p class="display-4">{{ data.total_datasets }}</p>
                </div>
            </div>
        </div>

        <!-- Total Users -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header bg-success text-white">
                    <h3>Total Users</h3>
                </div>
                <div class="card-body">
                    <p class="display-4">{{ data.total_users }}</p>
                </div>
            </div>
        </div>

        <!-- Average Rating -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header bg-warning text-white">
                    <h3>Average Dataset Rating</h3>
                </div>
                <div class="card-body">
                    <p class="display-4">{{ data.average_rating }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Comparación de Visitas y Descargas -->
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-secondary text-white text-center">
                    <h3>Total Views vs Total Downloads</h3>
                </div>
                <div class="card-body">
                    <canvas id="viewsDownloadsChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Datos dinámicos para la gráfica -->
    <div id="totalViews" style="display: none;">{{ data.total_views | default(0) }}</div>
    <div id="totalDownloads" style="display: none;">{{ data.total_downloads | default(0) }}</div>

</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/index_dashboard.js') }}"></script>
{% endblock %}
