name: Validate Commit Messages

on:
  push:
    branches-ignore:
      - main  # Ignorar eventos push en la rama main

jobs:
  validate-commits:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout del repositorio
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Configurar remotos y obtener historial
    - name: Set up remote and fetch
      run: |
        git remote set-url origin https://github.com/${{ github.repository }}.git
        git fetch --all

    # 3. Obtener mensajes de commits
    - name: Get commit messages
      run: git log $(git merge-base HEAD origin/main)..HEAD --pretty=format:"%s" > commit-messages.txt

    # 4. Validar mensajes de commit
    - name: Validate commit messages
      run: |
        regex="^(feature|fix|docs|test|config): .{1,50}$"
        while IFS= read -r line; do
          if ! [[ $line =~ $regex ]]; then
            echo "âŒ Invalid commit message: '$line'"
            exit 1
          fi
        done < commit-messages.txt
      shell: bash
